@import "/src/styles/utils.scss";

.button {
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.25rem 1rem;
  color: white;
  outline: none;
  cursor: pointer;
  background-color: $oc-gray-8;
  &:hover {
    background-color: $oc-gray-6;
  }
  &.fullWidth {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    width: 100%;
    font-size: 1.125rem;
    min-width: 6.5rem;
  }
  &.teal {
    background: $main-color;
  }
  &:disabled {
    background: $sub2-color;
    cursor: not-allowed;
    //opacity: 50%;
  }
}
