@import "../../styles/utils.scss";
@import "../common/common.scss";

.post-list_block {
  @extend .block;
  padding-left: 0;
  padding-right: 0;
}

.post-list_write-button-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-right: 1rem;
}

.post-item_area {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;

  @media (max-width: 1024px) {
    justify-content: flex-start;
  }
  @media (max-width: 768px) {
    justify-content: space-evenly;
  }
}

.post-item_block {
  width: 15rem;
  margin: 1rem 0.5rem;
  padding: 1rem;
  border-radius: 0.25rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: $oc-white;
}

.post-item_block-body {
  // max-height: 20rem;
  // min-height: 16rem;
  height: 20rem;

  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  overflow-x: hidden;
  overflow-y: hidden;

  background: $oc-white;

  .post-item_block-head {
    white-space: nowrap;
    height: 2rem;
    background: $oc-white;
    h2 {
      margin-top: 0;
      margin-bottom: 0;
      &:hover {
        color: $oc-gray-6;
      }
    }
  }
}

.post-item_block-tail {
  min-height: 2rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  background: $oc-white;

  .post-item_block-tail-userInfo {
    margin-top: 0.5rem;
    border-top: 1px solid $oc-cyan-8;
    background: $oc-white;
  }
}
