@import "../../styles/utils.scss";
@import "../common/common.scss";

.editor-block {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.title-input {
  font-size: 3rem;
  outline: none;
  padding-bottom: 0.5rem;
  border: none;
  border-bottom: 3px solid $sub2-color;
  margin-bottom: 2rem;
  width: 100%;
}

.quill-wrapper {
  // header가 화면 앞단에 나타나도록 quill-editor z-index 조절
  z-index: 0;
  // 최소 크기 지정 및 padding 제거
  .ql-toolbar {
    position: sticky;
    width: 100%;
    background: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
    border: none;
    border-bottom: 3px solid $sub2-color;
    top: 0;
    left: 0;
    z-index: 2;
    // border: none;
    padding: 0;
    display: flex;
    justify-content: center;
    button {
      display: flex;
      justify-content: space-evenly;
      height: 2rem;
      width: inherit;
    }
  }

  .ql-container {
    position: relative;
    overflow-y: auto;
    z-index: 0;
    border: none;
  }
  .ql-editor {
    padding: 0;
    min-height: 320px;
    font-size: 1.3rem;
    line-height: 1.5;
  }
  .ql-editor.ql-blank:before {
    left: 0px;
  }
}
