@import "../../../styles/utils.scss";

.tag-box-block {
  width: 100%;
  border-top: 1px solid $oc-cyan-2;
  padding-top: 2rem;
  h4 {
    color: $oc-cyan-8;
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
}

.tag-form {
  border: 1px solid $oc-cyan-8;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  width: 20rem;

  input,
  button {
    // outline: none;
    border: none;
    font-size: 1rem;
  }

  input {
    padding: 0.5rem;
    flex: 1;
    // min-width: 0;
  }

  button {
    width: 4rem;
    cursor: pointer;
    padding: 0 1rem;
    border: none;
    background: $oc-cyan-8;
    color: white;
    font-weight: bold;
    &:hover {
      background: $oc-cyan-6;
    }
  }
}

.tag-list-block {
  display: flex;
  margin-top: 0.5rem;
}

// .tags-block {
//   margin-left: -0.5rem;
// }

.tag {
  display: inline-flex;

  font-size: 1rem;
  font-weight: 500;
  margin: 0.25rem 0.5rem 0.25rem 0rem;
  padding: 0.3rem 1rem;

  color: $oc-cyan-6;
  background: $oc-gray-1;
  border-radius: 2rem;
  cursor: pointer;
  &:hover {
    color: $oc-cyan-4;
    background: $oc-gray-0;
  }
}
