$palette: (
  gray: (
    0: #f8f9fa,
    1: #f1f3f5,
    2: #e9ecef,
    3: #dee2e6,
    4: #ced4da,
    5: #adb5bd,
    6: #868e96,
    7: #495057,
    8: #343a40,
    9: #212529,
  ),
  cyan: (
    0: #e3fafc,
    1: #c5f6fa,
    2: #99e9f2,
    3: #66d9e8,
    4: #3bc9db,
    5: #22b8cf,
    6: #15aabf,
    7: #1098ad,
    8: #0c8599,
    9: #0b7285,
  ),
);

.btn {
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.25rem 1rem;
  color: white;
  outline: none;
  cursor: pointer;
  background-color: map-get(map-get($palette, gray), 8);
  &:hover {
    background-color: map-get(map-get($palette, gray), 6);
  }
  &.fullWidth {
    margin-top: 1rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    width: 100%;
    font-size: 1.125rem;
  }
  &.cyan {
    background: map-get(map-get($palette, cyan), 6);
    &:hover {
      background: map-get(map-get($palette, cyan), 5);
    }
  }
}
