@import "./../../styles/utils.scss";

.error {
  color: $oc-red-6;
  margin: 5px 0px 10px 0px;
  font-size: 12px;
  font-weight: 600;
}

// /*css-icon-component
.icon-area {
  height: 100px;
  //icon 사이즈 조절(세로 기준 자동 비율)
  font-size: 1rem * 100 / 16;
  // font-size=16px 이라고 가정하고 계산
  display: inline-flex;
}

.icon-centering {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}

.icon-coloring {
  height: 100%;
  //padding: 5px;
  //필요시 padding
  color: $oc-blue-6;
  background: rgba(0, 0, 0, 0.3);
}
// css-icon-component*/

// responsive block
.block {
  padding: 0 0.5rem;
  width: 1280px;
  margin: 0 auto; // 중앙 정렬
  // 브라우저 크기에 따라 가로 크기 변경
  @media (max-width: 1280px) {
    width: 1024px;
  }
  @media (max-width: 1024px) {
    width: 100%;
  }
}

.sub-info_block {
  color: $oc-gray-7;
  span + span:before {
    color: $oc-gray-6;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    content: "\B7";
  }
}
