@import "~open-color/open-color";

.btn {
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.25rem 1rem;
  color: white;
  outline: none;
  cursor: pointer;
  background-color: $oc-gray-8;
  &:hover {
    background-color: $oc-gray-6;
  }
  &.fullWidth {
    margin-top: 1rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    width: 100%;
    font-size: 1.125rem;
  }
  &.cyan {
    background: $oc-cyan-6;
  }
  &:disabled {
    background: $oc-cyan-2;
    //opacity: 50%;
  }
}

.span.error {
  color: $oc-red-6;
  margin: 5px 0px 10px 0px;
  font-size: 12px;
  font-weight: 600;
}

// /*css-icon-component
.div.icon-area {
  height: 100px;
  //icon 사이즈 조절(세로 기준 자동 비율)
  font-size: 1rem * 100 / 16;
  // font-size=16px 이라고 가정하고 계산
  display: inline-flex;
}
.div.icon-centering {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}
.img.icon-coloring {
  height: 100%;
  //padding: 5px;
  //필요시 padding
  color: $oc-blue-6;
  background: rgba(0, 0, 0, 0.3);
}
// css-icon-component*/

.div.color {
  color: $oc-gray-9;
  background: $oc-pink-1;
}
.div.home-icon {
  .logo {
    display: flex;
  }
}
