@import "../../styles/utils.scss";

.post-action-buttons_block {
  display: flex;
  justify-content: flex-end;
  margin-top: -1.5rem;
}

.post-action-buttons_action-button {
  background-color: transparent;
  padding: 0.25rem 0.5rem;
  color: $oc-gray-5;
  font-weight: bold;
  border: none;
  outline: none;
  font-size: 0.875rem;
  cursor: pointer;
  &:hover {
    color: $oc-gray-8;
  }
  & + & {
    margin-left: 0.25rem;
  }
}
