@import "../../styles/utils.scss";
@import "../common/common.scss";

.post-viewer-block {
  @extend .block;
  margin-top: 4rem;
  padding: 0 2rem;
}

.post-head-wrapper {
  padding-bottom: 1rem;
  border-bottom: 3px solid $sub2-color;

  .post-head-wrapper_nav {
    display: flex;
    justify-content: space-between;
  }
  h1 {
    font-size: 3rem;
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 2rem;

    word-break: break-word;
  }
  h2 {
    font-size: 1.5rem;
    color: $main-color;
    font-weight: bold;
    margin: 0;

    &.temp {
      color: $sub1-color;
    }
  }
}

.post-tag-container {
  min-height: 2rem;
  margin-top: 1rem;
  display: flex;
}

.post-content {
  min-height: 20rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 1.3125rem;
  color: $oc-gray-8;
  // word-break: break-word;
  word-break: keep-all;
  overflow-wrap: break-word;
  // 이미지삽입시 생기는 margin 초기화
  p {
    margin: 0;
  }
}

.post-scrolltotop {
  position: fixed;
  cursor: pointer;
  bottom: 2rem;
  right: 2rem;

  width: 3rem;
  height: 3rem;

  overflow: hidden;
  border-radius: 1rem;
  border: 2px solid $oc-gray-2;
  font-size: 3rem;

  .post-scrolltotop-icon {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: $sub2-color;

    .post-scrolltotop-icon_active {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      color: $main-color;
      background: $oc-gray-3;
    }

    &:hover {
      transition: all 0.2s linear;
      transform: translateY(-3rem);
    }
  }
}
